# SPDX-FileCopyrightText: 2019-2025 Mahjongg Contributors
# SPDX-License-Identifier: GPL-2.0-or-later

include:
  - project: 'gnome/citemplates'
    file: 'flatpak/flatpak_ci_initiative.yml'
  - component: gitlab.gnome.org/GNOME/citemplates/release-service@master
    inputs:
      dist-job-name: 'flatpak@x86_64'

variables:
    APP_ID: 'org.gnome.Mahjongg.Devel'
    BUNDLE: 'org.gnome.Mahjongg.Devel.flatpak'
    RUNTIME_REPO: 'https://nightly.gnome.org/gnome-nightly.flatpakrepo'
    MANIFEST_PATH: 'build-aux/flatpak/org.gnome.Mahjongg.Devel.json'
    FLATPAK_MODULE: 'gnome-mahjongg'

stages:
  - lint
  - build
  - deploy

reuse-lint:
  image:
    name: fsfe/reuse:latest
    entrypoint: [""]
  stage: lint
  script:
    - reuse lint

vala-lint:
  image: valalang/lint:latest
  stage: lint
  script:
    - io.elementary.vala-lint

flatpak@x86_64:
    extends: '.flatpak@x86_64'
    stage: build

flatpak@aarch64:
    extends: '.flatpak@aarch64'
    stage: build

nightly@x86_64:
    extends: '.publish_nightly'
    stage: deploy
    needs: ['flatpak@x86_64']

nightly@aarch64:
    extends: '.publish_nightly'
    stage: deploy
    needs: ['flatpak@aarch64']
