/* SPDX-FileCopyrightText: 2024-2025 Mahjongg Contributors
 * SPDX-License-Identifier: GPL-2.0-or-later */

/* Theme backgrounds */
window toolbarview.postmodern {
    background: #2a2d49;
}

window toolbarview.smooth {
    background: #373521;
}

window toolbarview.educational {
    background: #1d3a32;
}
