/* Theme backgrounds */
window toolbarview.postmodern {
    background: #272a44;
}

window toolbarview.smooth {
    background: #32301e;
}

window toolbarview.educational {
    background: #1c3730;
}
