/* Theme backgrounds */
window.postmodern {
    background: #e8e9f2;
}

window.smooth {
    background: #efedd9;
}

window.educational {
    background: #f7eded;
}

/* Scores */
columnview {
    background: transparent;
}

columnview header button,
columnview row cell {
    padding-left: 12px;
    padding-right: 12px;
}
